In [30]:
import psycopg2
from psycopg2 import sql
import re 
import json
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas as pd
from tkinter import Tk
from tkinter import filedialog
import csv
import io
hostname = 'localhost'
database = 'First_test'
username = 'postgres'
pwd = 'Yann'
port_id = 5432

In [31]:
import pandas as pd
import json
import csv

import xml.etree.ElementTree as ET
from tkinter import Tk, filedialog
import psycopg2

hostname = 'localhost'
database = 'First_test'
username = 'postgres'
pwd = 'Yann'
port_id = 5432

def connect_to_database():
    try:
        conn = psycopg2.connect(
            host=hostname,
            dbname=database,
            user=username,
            password=pwd,
            port=port_id
        )
        return conn
    except Exception as error:
        print(error)
        return None


import re






def sanitize_column_name(name):
    # Replace non-alphanumeric characters with underscores
    sanitized_name = re.sub(r'\W+', '_', name)
    # Remove leading or trailing whitespace characters
    sanitized_name = sanitized_name.strip()
    # Remove underscores from date-like strings
   
    return sanitized_name


def df_to_sql():
    conn = connect_to_database()
    root = Tk()
    root.withdraw()  # Hide the main window
    file_path = filedialog.askopenfilename(initialdir="C:/Users/YourUsername/Desktop", title="Select file",
                                           filetypes=(("CSV files", "*.csv"), ("XML files", "*.xml"), ("Excel files", "*.xlsx")))
    table_name = input("Enter the table name: ")
    try:
        if file_path.endswith('.csv'):
            df = pd.read_csv(file_path)
        elif file_path.endswith('.xml'):
            tree = ET.parse(file_path)
            root = tree.getroot()
            data = []
            for elem in root:
                data.append(elem.attrib)
            df = pd.DataFrame(data)
        elif file_path.endswith('.xlsx'):  # Add handling for Excel files
            df = pd.read_excel(file_path)
        else:
            print("Unsupported file format.")
            return

        # Add 'id' column with sequential values
        df.insert(0, 'id', range(1, 1 + len(df)))

        # Sanitize column names to comply with SQL naming conventions
        df.columns = [sanitize_column_name(col) for col in df.columns]

        # Convert DataFrame to a list of tuples (each tuple represents a row)
        data_list = [tuple(row) for row in df.to_numpy()]

        # Create table if it does not exist
        with conn.cursor() as cur:
            # Handle column names with special characters or spaces
            create_table_query = f"CREATE TABLE IF NOT EXISTS {table_name} ({', '.join([f'{col} VARCHAR' for col in df.columns])})"
            cur.execute(create_table_query)

            # Insert data into the table
            for row in data_list:
                row = list(row)
                row[-1] = str(row[-1])  # Convert last element (nested dict) to string
                # Handle column names with special characters or spaces
                insert_query = f"INSERT INTO {table_name} ({', '.join([f'{col}' for col in df.columns])}) VALUES ({', '.join(['%s'] * len(df.columns))})"
                cur.execute(insert_query, row)

        conn.commit()
        print(f"DataFrame from {file_path} successfully saved to table {table_name} in the database.")
    except Exception as e:
        print("Error:", e)
    finally:
        if conn:
            conn.close()








# Example usage:
if __name__ == "__main__":
    df_to_sql()

Unsupported file format.

In [11]:
df = pd.read_csv(r"C:\Users\yskon\Desktop\Desk_App\Data\Zillow_CSV\County_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,2000-01-31,...,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31
0,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,202439.173324,...,776848.290023,773099.225984,775250.442573,781373.168323,791486.555040,804039.376556,816650.613722,826916.517556,834627.929107,839408.798822
1,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,142230.761086,...,271789.156474,273195.319186,274679.762036,276346.208345,278195.985808,280427.994007,282293.720706,283691.589240,284563.214653,285001.791708
2,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,107763.281727,...,274539.541373,273977.274584,273999.684086,274650.233887,275424.434724,276226.228326,276558.372120,276601.979839,276354.918892,276068.242700
3,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,141146.256502,...,443439.620104,442430.540828,443183.037678,445096.958351,447789.735064,450706.610659,453168.669276,455321.626806,457080.234374,458025.226499
4,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,213074.494470,...,824423.976916,827521.754957,834158.592031,843452.426540,854618.092740,866300.086332,877589.314100,886848.996547,893220.009056,896579.371655

In [12]:
df.columns

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS', '2000-01-31',
       ...
       '2023-03-31', '2023-04-30', '2023-05-31', '2023-06-30', '2023-07-31',
       '2023-08-31', '2023-09-30', '2023-10-31', '2023-11-30', '2023-12-31'],
      dtype='object', length=297)

In [3]:
def connect_to_database():
    try:
        conn = psycopg2.connect(
            host=hostname,
            dbname=database,
            user=username,
            password=pwd,
            port=port_id
        )
        return conn
    except Exception as error:
        print(error)
        return None

In [3]:
def get_data(limit=None):
    table_name = input("Enter the table name: ")
    while not isinstance(table_name, str):
        print("Table name must be a string.")
        table_name = input("Enter the table name: ")
    conn = connect_to_database()
    if conn:
        try:
            with conn.cursor() as cur:
                if limit:
                    cur.execute(sql.SQL("SELECT * FROM public.{} LIMIT %s;").format(sql.Identifier(table_name)), (limit,))
                else:
                    cur.execute(sql.SQL("SELECT * FROM public.{};").format(sql.Identifier(table_name)))
                rows = cur.fetchall()
                column_names = [desc[0] for desc in cur.description]
                
                df = pd.DataFrame(rows, columns=column_names)
                return df
        except Exception as error:
            print(error)
        finally:
            conn.close()

In [4]:
df = get_data()
    
    # Créer le DataFrame

    
if df is not None:
    print("DataFrame created successfully:")
    print(df.head())
else:
    print("No data available.")

ERREUR:  identifiant délimité de longueur nulle sur ou près de « "" »
LINE 1: SELECT * FROM public."";
                             ^

No data available.

In [5]:
df.dtypes

AttributeError: 'NoneType' object has no attribute 'dtypes'

In [ ]:
import pandas as pd
import re
import warnings
import numpy as np

warnings.filterwarnings("ignore", message="Could not infer format")

def infer_data_types(df):
    # Define the percentage of rows to sample
    sample_percentage = 0.8
    
    # Sample the data
    sample = df.sample(frac=sample_percentage, random_state=42)
    
    # Dictionary to store inferred data types for each column
    inferred_data_types = {}
    
    # Loop through each column and infer the data type
    for col in sample.columns:
        inferred_data_type = infer_data_type(sample[col])
        inferred_data_types[col] = inferred_data_type
    
    return inferred_data_types

import pandas as pd
import numpy as np

def infer_data_type(series):
    if series.dtype == 'object':
        # Convert non-string values to strings
        series = series.astype(str)
        
        # Replace 'None' with NaN
        series = series.replace('None', np.nan).infer_objects(copy=False)
        
        # Remove empty strings and NaNs from the series
        non_empty_series = series.dropna()
        non_empty_series = non_empty_series[non_empty_series != '']
        # Convert all non-empty series elements to strings
        non_empty_series = non_empty_series.astype(str)
        
        # Check if the series contains mostly integers
        if non_empty_series.str.replace('-', '').str.isdigit().mean() > 0.8:
            return 'datetime.date'
        
        # Check if the series contains mostly floats
        elif non_empty_series.str.replace('.', '').str.replace('-', '').str.replace(',', '').str.replace('%', '').str.isdigit().mean() > 0.8:
            return 'float64'
        
        # Check if the series contains mostly dates
        elif non_empty_series.str.match(r'^\d{4}-\d{2}-\d{2}$').mean() > 0.8:
            return 'datetime.date'
        
        # Check if the series contains mostly currency values ('$XXX.XX')
        elif non_empty_series.str.startswith('$').mean() > 0.8:
            return 'float64'
        
        # Check if the series contains mostly years (4-digit numbers)
        elif non_empty_series.str.match(r'^\d{4}$').mean() > 0.8:
            return 'int64'
        
        # Check if the series contains mostly percentage values ('X.XX%')
        elif non_empty_series.str.match(r'^-?\d+\.\d+%$').mean() > 0.8:
            return 'float64'
        
        # If none of the above conditions are met, assume it's an object
        else:
            return 'object'
    elif series.dtype == 'datetime64[ns]':
        return 'datetime.date'
    else:
        return str(series.dtype)

def convert_columns(df, inferred_types):
    for col, dtype in inferred_types.items():
        if dtype == 'datetime.date':
            df[col] = df[col].astype(str)
            df[col] = df[col].replace('None', np.nan)
            df[col] = df[col].str.replace('-', '')
            df[col] = pd.to_datetime(df[col]).dt.date
        elif dtype == 'int64':
            # Apply cleaning operations similar to infer_data_type function
            df[col] = df[col].astype(str)
            df[col] = df[col].replace('None', np.nan)
            df[col] = df[col].str.replace('-', '')
            df[col] = pd.to_numeric(df[col]).fillna(0).astype(int)   
        elif dtype == 'float64':
            df[col] = df[col].astype(str)
            df[col] = df[col].replace('None', np.nan)
            df[col] = df[col].str.replace('-', '')
            df[col] = df[col].str.replace('.', '').str.replace('-', '').str.replace(',', '').str.replace('%', '').str.replace('$','')
            df[col] = pd.to_numeric(df[col]).fillna(0).astype(float)
        
        elif dtype == 'object':
            df[col] = df[col].astype(str)
        # Add more conditions for other data types if needed
    return df






# Example usage
# Replace df with your actual DataFrame
inferred_types = infer_data_types(df)
print("Inferred data types:")
print(inferred_types)

Inferred data types:
{'id': 'int64', 'date': 'datetime.date', '3__low': 'float64', 'To_Symbol': 'object', 'Digital_Currency_Code': 'object', '4__close': 'float64', '2__high': 'float64', 'From_Symbol': 'object', 'Digital_Currency_Name': 'object', '1__open': 'float64'}

C:\Users\yskon\AppData\Local\Temp\ipykernel_11020\394953751.py:34: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  series = series.replace('None', np.nan).infer_objects(copy=False)
C:\Users\yskon\AppData\Local\Temp\ipykernel_11020\394953751.py:34: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  series = series.replace('None', np.nan).infer_objects(copy=False)

In [ ]:
# Assuming 'inferred_types' is a dictionary containing column names and their inferred types
df = convert_columns(df, inferred_types)

# Now df contains columns converted to the inferred data types
print(df.dtypes)

# Corresponding type of row in columns
for col, dtype in inferred_types.items():
    print(f"Column '{col}' corresponds to type '{dtype}'")

id                         int32
date                      object
3__low                   float64
To_Symbol                 object
Digital_Currency_Code     object
4__close                 float64
2__high                  float64
From_Symbol               object
Digital_Currency_Name     object
1__open                  float64
dtype: object
Column 'id' corresponds to type 'int64'
Column 'date' corresponds to type 'datetime.date'
Column '3__low' corresponds to type 'float64'
Column 'To_Symbol' corresponds to type 'object'
Column 'Digital_Currency_Code' corresponds to type 'object'
Column '4__close' corresponds to type 'float64'
Column '2__high' corresponds to type 'float64'
Column 'From_Symbol' corresponds to type 'object'
Column 'Digital_Currency_Name' corresponds to type 'object'
Column '1__open' corresponds to type 'float64'

In [ ]:
df.head()

,id,date,3__low,To_Symbol,Digital_Currency_Code,4__close,2__high,From_Symbol,Digital_Currency_Name,1__open
0,1,2024-02-19,106945.0,USD,None,107804.0,108974.0,EUR,None,108180.0
1,2,2024-01-31,107947.0,USD,None,108180.0,110460.0,EUR,None,110400.0
2,3,2023-12-29,107230.0,USD,None,110374.0,111395.0,EUR,None,108860.0
3,4,2023-11-30,105165.0,USD,None,108861.0,110171.0,EUR,None,105740.0
4,5,2023-10-31,104480.0,USD,None,105744.0,106943.0,EUR,None,105676.0